/DebugAdapter/bin/
/DebugAdapter/obj/
/DebugAdapter/packages/
/debugee/lua-source/Debug/
/debugee/lua-source/Release/
/debugee/lua-source/x64/Debug/
/debugee/lua-source/x64/Release/

Extension/*.dll
Extension/*.exe

*.vsix
*.zip
*.VC.db
*.opendb
.vs
